<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800888317067-ipleeq3iufhgvqvutf10e9gic4v49vu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800888317067-ipleeq3iufhgvqvutf10e9gic4v49vu6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800888317067-g2fiacadak4adl89duvh7a5nabdhnlb6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBU2cN0EjpMkrLK5-tXjflZgBau4wRO8NY</string>
	<key>GCM_SENDER_ID</key>
	<string>800888317067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ibakaidov.distypepro</string>
	<key>PROJECT_ID</key>
	<string>distypepro-android</string>
	<key>STORAGE_BUCKET</key>
	<string>distypepro-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800888317067:ios:2a71f423195f7ce619208e</string>
	<key>DATABASE_URL</key>
	<string>https://distypepro-android.firebaseio.com</string>
</dict>
</plist>